/* RegisterMedicamento.module.css */

/* Estilo del cuerpo */
.body {
  background-color: rgb(255, 255, 255);;
}

/* Contenedor centrado */
.container {
  display: flex;
    flex-direction: column;
    align-items: unset;
    margin: 0 auto;
    padding: 32px 0rem;
}

/* Mensaje de feedback */
.message {
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

/* Títulos */
.formTitle {
  text-align: justify;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff; /* Color distintivo */
  margin-bottom: 1.5rem;
}

.subtitle,
.titleTable {
  text-align: justify;
  font-size: 1.8rem;
  font-weight: bold;
  color: #00796b;
  margin-bottom: 1.5rem;
}

/* Inputs y checkbox */
.input,
.checkbox {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #00796b;
}

.checkbox {
  width: auto;
  cursor: pointer;
  margin-left: 10px;
}

/* Botón */
.button {
  width: 100%;
  padding: 0.8rem 1.2rem;
  background: linear-gradient(90deg, #00796b, #26a69a);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(90deg, #26a69a, #00796b);
}

/* Estilo del formulario */
.form {
  width: 100%;
  max-width: 895px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

/* Tabla */
.table {
  width: 100%;
  max-width: 895px;
  margin-top: 2rem;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background: #00796b;
  color: #ffffff;
  font-weight: bold;
}

.table tbody tr:hover {
  background: #f1f1f1;
}

/* Contenedor principal */
.mainContainer {
  display: flex;
}

/* Contenido principal */
.content {
  margin-left: 460px; /* Ajusta el espacio del menú lateral */
  padding: 2rem;
  flex-grow: 1;
}

/* Banner */
.banner {
  width: 100%;
  max-width: 900px;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Imagen dentro del banner */
.image {
  width: 100%; /* Ocupa todo el ancho del banner */
  height: auto; /* Ajusta la altura automáticamente */
  object-fit: cover;
  border-radius: 8px;
}

/* Responsividad */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  }

  .content {
    margin-left: 0;
    padding: 1rem;
  }

  .table {
    font-size: 0.9rem; /* Reduce el tamaño del texto en la tabla */
  }

  .form {
    width: 90%; /* Ajusta el ancho del formulario */
    padding: 1.5rem;
  }

  .button {
    padding: 0.7rem 1rem; /* Reduce el tamaño del botón */
  }

  .subtitle,
  .titleTable {
    font-size: 1.5rem; /* Reduce el tamaño del título */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 1rem; /* Reduce los márgenes laterales */
  }

  .form {
    width: 100%; /* Ajusta el formulario para ocupar todo el ancho */
    padding: 1rem;
  }

  .table {
    font-size: 0.8rem; /* Ajusta el tamaño del texto de la tabla */
  }

  .button {
    font-size: 0.9rem; /* Ajusta el tamaño del texto del botón */
  }

  .subtitle,
  .titleTable {
    font-size: 1.2rem; /* Ajusta el tamaño del texto del título */
  }

  .banner {
    width: 100%; /* Ocupa el ancho completo */
  }
}





/*ESTILOS DE GRAFICOS*/
.chartContainer {
  max-width: 900px;
  padding: 2rem; /* Aumenta el relleno interno */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea horizontalmente */
  justify-content: center; /* Alinea verticalmente */
}

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #00796b;
  margin-bottom: 1rem;
}

.error {
  color: #ff4d4f;
  text-align: center;
  font-size: 1.2rem;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #00796b;
}





/*ESTILOS CARD ESTATUSS MEDICAMENTOS*/
/* Estilo general para el estado de stock */
.stockStatus {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

/* Colores para los diferentes estados */
.lowStock {
  background-color: #ff4d4f; /* Rojo */
  color: #fff;
}

.mediumStock {
  background-color: #ffa726; /* Naranja */
  color: #fff;
}

.goodStock {
  background-color: #66bb6a; /* Verde */
  color: #fff;
}

/*ESTILOS CARD ESTATUSS MEDICAMENTOS*/
/* Estilo general para el estado de stock */
.chartCanvas {
  width: 100%;
  height: 400px; /* Fijar altura del canvas */
  display: flex;
  align-items: center;
  justify-content: center;
}
.stockStatus {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

/* Contenedor principal del gráfico */
.chartContainer {
  max-width: 1200px;
  margin: 2rem auto; /* Centra automáticamente en pantallas grandes */
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: -165px; /* Alinea la tabla más cerca del sidebar */

}

/* Wrapper para organizar los gráficos */
.chartWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Tarjetas para cada gráfico */
.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  max-width: 1050px; /* Tamaño máximo de cada tarjeta */
  min-height: 300px; /* Altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s;

}

.card:hover {
  transform: scale(1.02); /* Efecto al pasar el mouse */
}

/* Título del gráfico */
.chartTitle {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

/* Mensajes de carga y error */
.loading,
.error {
  text-align: center;
  font-size: 16px;
  color: #ff0000;
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .chartContainer {
    padding: 1rem;
    margin-left: 0px; /* Alinea la tabla más cerca del sidebar */

  }

  .card {
    max-width: 100%; /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
    min-height: 350px; /* Reduce un poco la altura mínima */
    
  }

  .chartTitle {
    font-size: 16px; /* Tamaño de fuente reducido */
  }
}

@media screen and (max-width: 480px) {
  .chartWrapper {
    flex-direction: column; /* Apila los gráficos verticalmente */
    gap: 15px; /* Espacio más pequeño entre tarjetas */
    margin-left: 0px; /* Alinea la tabla más cerca del sidebar */

  }

  .card {
    padding: 15px; /* Espaciado reducido */
    max-width: 100%; /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
    min-height: 350px; /* Reduce un poco la altura mínima */
  }

  .chartTitle {
    font-size: 14px; /* Texto más pequeño */
  }
}

/* Contenedor de la gráfica de barras */
.chartWrapper .chartItem:first-child canvas {
  max-width: 100%; /* Permite que ocupe todo el ancho del contenedor */
  height: 900px !important; /* Ajusta la altura */
}


/*boton para eliminar tabla registro*/
.deleteButton {
  background-color: #ffbd92;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #ff721a;
}
