/* Menú lateral */
.sideMenu {
  width: 250px;
  color: #ffffff;
  padding: 1.5rem 1rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease; /* Animación de aparición/desaparición */
   /* Imagen de fondo con la ruta correcta */
   background: url("/foto_sllidebarjpg.jpg") no-repeat center center;
   background-size: cover;
 
   /* Filtro de color */
   background-blend-mode: overlay;
   background-color: rgb(0, 121, 108); /* Filtro de color */
   border-radius: 1.9%;
}

/* Ocultar menú lateral */
.sideMenu.hidden {
  transform: translateX(-100%);
}

/* Botón de hamburguesa */
.hamburgerButton {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100;
}

/* Mostrar botón hamburguesa en móvil */
@media (max-width: 1024px) {
  .hamburgerButton {
    display: block;
  }
}

/* Animación de líneas del botón */
.hamburgerButton .line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

/* Animación del menú al abrir */
.hamburgerButton.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburgerButton.open .line:nth-child(2) {
  opacity: 0;
}

.hamburgerButton.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Botón de cada opción del menú */
.menuButton {
  background-color: #151c34;
  color: #ffffff;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menuButton:hover {
  background-color: #034a49;
  transform: scale(1.05);
}

.menuButton:active {
  transform: scale(1);
}


/*BOTON DE SALIR*/
.salirbutton {
  background-color: #670000;
  color: #ffffff;
  border: none; 
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.salirbutton:hover {
  background-color: #cb0000;
  transform: scale(1.05);
}

.salirbutton:active {
  transform: scale(1);
}

/*ESTILOS DE LOGO SLIDEBAR*/
/* Contenedor del logo */
.logoContainer {
  text-align: center;
  margin-bottom: 1.1rem; /* Espaciado debajo del logo */
}

/* Imagen del logo */
.logo {
  width: 220px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene las proporciones */
  border-radius: 25px; /* Opcional: redondea las esquinas */
}
